<div class="jumbotron jumbotron-banner_book">
  <div class="container">
   <h1>Search Books</h1>
    <p>This is a template for a simple marketing or informational website.
      It includes a large callout called a jumbotron and three supporting pieces of
      content. Use it as a starting point to create something more unique.</p>
    <p><%= link_to "Learn more", about_index_path, :class => "btn btn-primary btn-lg" %></p>
  </div>
</div>
 <div class="container">
  <h1>Books#index</h1>
  <p>Find me in app/views/books/index.html.erb</p>
</div>
