<div class="jumbotron jumbotron-banner2">
  <div class="container">
    <h1>Gain Access To Our Resource Library...</h1>
    <p>This is a template for a simple marketing or informational website.
      It includes a large callout called a jumbotron and three supporting pieces of
      content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-success btn-lg" href="#" role="button">Find a resource &raquo;</a></p>
  </div>
</div>
<div class="container">
  <h1>Resource Library Network</h1>
  <p>Yuccie messenger bag cornhole, ugh portland beard 8-bit whatever health goth vinyl fap
    umami truffaut small batch. Sartorial lo-fi cray, wolf williamsburg +1 pug sustainable
    YOLO. Literally sartorial tousled, small batch cold-pressed locavore trust fund art party
    kitsch hashtag. Offal you probably haven't heard of them cred ethical, plaid keytar typewriter
    microdosing raw denim small batch. Kitsch knausgaard actually neutra pork belly seitan.
    Four loko taxidermy church-key, try-hard small batch plaid biodiesel pour-over chillwave
    quinoa everyday carry knausgaard. Bespoke tacos offal swag.</p>
  </div>
