/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url("application.css");
 @import url("welcome.css");
 @import url("bootstrap.css");

 .jumbotron-banner{
   color:#ffffff;
   padding:40px 40px 90px 40px;
 }
 .jumbotron-banner2{
   color:#ffffff;
   padding:40px 40px 90px 40px;
 }

 .jumbotron-banner_book{
   color:#ffffff;
   padding:40px 40px 90px 40px;
 }

 .jumbotron-banner_album{
   color:#ffffff;
   padding:40px 40px 90px 40px;
 }

 .jumbotron-banner_video{
   color:#ffffff;
   padding:40px 40px 90px 40px;
 }

 .logo-brand{margin: 20px 0px};
 #logo-div img{ margin:5px 0px;}
