// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.jumbotron-banner{
  background: image-url("bkgd2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color:#ffffff;
  height:300px;
}
.jumbotron-banner2{
  background: image-url("bkgd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color:#ffffff;
}

.jumbotron-banner_book{
  background: image-url("bkgdbook.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color:#ffffff;
  text-align: center;
  height:270px;
}

.jumbotron-banner_album{
  background: image-url("bkgdalbum.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color:#ffffff;
  text-align: center;
  height:270px;
}
.jumbotron-banner_video{
  background: image-url("bkgdvideo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color:#ffffff;
  text-align: center;
  height:270px;
}
