// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.jumbotron-banner{
  background: url('bkgd.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color:#ffffff;
}
.jumbotron-banner2{
  background: url('bkgd2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  color:#ffffff;
}
